.enroll{

    @include respond(tab-land){
        background-image: radial-gradient(150% 200% ellipse at -15%,
        rgba(white,.8) 0%,
        rgba(white,8) 65%,
        transparent 35%), 
        url('../img/background2.jpg');
    }
    @include respond(tab-port){
        background-image: linear-gradient(to right,
        rgba(white,.8) 0%,
        rgba(white,8) 65%), url('../img/background2.jpg');
    }

    background-image: radial-gradient(150% 200% ellipse at -15%, rgba(white,.8) 50%, transparent 50%), url(../img/background2.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba(#000000,.2);
    border-radius: 5rem;
    height: 45rem;
    width: 80%;
    margin-left: 10%;

    &__form{

        @include respond(tab-land){
            width: 65%;
        }

        @include respond(tab-port){
            width: 100%;
        }
        padding: 6rem;


    }
}